  * {  box-sizing: border-box; }

table.edit_form_exact label { color: #a0a0a0; width: 100%; margin-top: -6px; display: block; text-align: left; }
table.edit_form_exact span  { font-weight: 300; color: black; }

  
    body {
	    background-color: #f0f0f0;
	    margin: 0px; padding: 0px;   margin: 0 auto ;
	    margin-left: 220px;
	    margin-right: 25px;
	    font-family:  Arial, helvetica, Sans-Serif;
    	font-size: 14px;
    }
	
	a {
	    text-decoration: none;
	}	



	buttonx {
	color: #333;
    cursor: pointer;
    padding: 4px 15px;
    background: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f6f6f6));
    border: 1px solid #bbb;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);

    font-family: "Segoe UI",Tahoma,Geneva,Verdana;
    font-size: 10pt;
    line-height: 150%;
	}



    div.langrow>p.lang  { display: flex; flex-direction: row;  justify-content: space-around; }
    div.langrow>p.lang>a{ display: block; color: gray; text-decoration: none; font-weight: normal;  }
    div.langrow>p.lang>a.selected_lang{ display: block; color: black; font-weight: bold;  }
    div.langrow>p.lang>a:hover{ color: black;  }

    tr.lang>th>a{ display: block; color: gray; text-decoration: none; font-weight: normal;  }
    tr.lang>th>a.selected_lang{ display: block; color: black; font-weight: bold;  }
    tr.lang>th>a:hover{ color: black;  }


    table.edit_form>tbody>tr>td>input,  table.edit_form>tbody>tr>td>label { margin: -4px;   width: 100% !important; }
    table.edit_form>tbody>tr>td>textarea  { width: 100% !important; height: 100%;  margin: -6px;   min-height: 120px;}


	table { margin: auto;  overflow-x:auto; border-collapse: collapse;
	       border: 1px solid e8e8e8; margin-top: 20px;
            box-shadow: 2px 2px 4px rgba(0,0,0,0.1);  width: 100%; 	}

  /*   tr:hover > td {   color: black; font-weight: bold; background-color: #fffc9d !important; /* fffb80  } */

 	th, td  {  color: #707070;  }
 	th  {  color: #707070; padding: 10px 17px; }
 	td  {  color: #707070; padding: 8px 12px; font-size: 87% }

	.text-center { txt-align: center; }
	


    div.comboLoader {
        padding: 0px;
        display: flex;
        flex-direction: rows;
    }

    div.comboLoader > select{ padding: 0px; }

	div.comboLoader > span{
	    opacity:.3;
		width: 15px;
		display: inline-block;
        background-image: url("/img/unlock.png");  background-position: 0% 15%; background-repeat: no-repeat;
    }

	div.comboLoader > span:hover{
	    opacity:.9;
        background-image: url("/img/unlock_2.png");  background-position: 0% 15%; background-repeat: no-repeat;
    }

	div.comboLoader > label  { margin-left: 10px;  }

	td > label , td > input { display: inline-block; margin: 0px 5px 0px 0px; }
    td > input { width: 100%; }
    td > label  {margin-bottom: -2px;}

    a.a_pencil { text-decoration: none; font-weight: bold; color: #707070; display: block; padding: 0px;  }
    a.a_pencil:hover { color: black; }

    span.copy_pl_to_table {
        float: left;
        padding-left: 20px;
        text-align: left;
    	display: inline-block;
        background-image: url("/img/copy_left.png");  background-position: 0% 15%; background-repeat: no-repeat;
    }

    span.copy_pl_to_table_mass {
        float: left;
        padding-left: 20px;
        text-align: left;
    	display: inline-block;
        background-image: url("/img/copy_left_mass.png");  background-position: 0% 15%; background-repeat: no-repeat;
    }

        span.addIChild, span.addTChild, span.c_span, span.removeIChild, span.removeTChild   {
            width: 36px; height: 28px;  margin-right: 5px;
        	display: inline-block;
            background-image: url("/img/inline.png");  background-position: 50% 80%; background-repeat: no-repeat;
        }


        span.addTChild { background-image: url("/img/table.png"); margin-left: 6px; }
        span.c_span {  background-image: url("/img/ok.png"); }
        span.removeIChild, span.removeTChild    {  background-image: url("/img/remove.png"); }



        input.c_input, span.c_span { display: inline-block; opacity: 0;   float: left; }
        div.child_div >  input { width: 150px; display: inline-block;   height: 28px; margin-top: -10px; margin-bottom: -2px;  }
        div.child_div > span { display: inline-block; width: 36px; height: 28px; }

    div.product_image{
            float: left;
            padding-top: 35px;
            margin-left: -200px;
            width: 150px; height: 150px;
             }

   table.edit_form1 > tbody > tr > td > label {
        margin-bottom: -2px;
        position: relative;
        right: 0;
        float: right;
        margin-top: -11px;
        color: #b0b0b0;
        font-size: 11px;
    }



	  label ,
	  input ,
	 select ,
	 button { color: gray;   display: block;   }
	  input,   select  { min-width: 150px;     }
	  input[type="checkbox"] { min-width: 20px;     }
	  button , input.submit {
	        color: white; background-color: #2a54ff; border: 3px solid transparent;
      		display: block;
      	    filter: drop-shadow(1px 1px 2px #8594a6);

   textarea.edit_textarea {  padding: 3px; margin: -2px; }



    label { font-family: 'Merriweather'; }

   -moz-box-shadow:    inset 0 0px 0px 2px #c0d6f0;
   -webkit-box-shadow: inset 0 0px 0px 2px #c0d6f0;
   box-shadow:         inset 0 0px 0px 2px #c0d6f0;

      	}

      button:hover , input.submit:hover { background-color: #0a33da; }

	  input.submit  { padding: 7px 12px 5px; margin: 2px; border-radius: 4px;  }
	  input  { padding: 5px 7px 4px; margin: 2px;  }
	  select  { padding: 5px 7px 4px; margin: 2px;  }
	  button  { padding: 5px 17px 4px; margin: 2px; border-radius: 2px; }
 

	tr.one  { background-color: transparent; font-size: 120%; }
	tr.one > th {    background-color: #21538d;   color: white;   text-align: center; text-weight: bold; }
	tr.one > th:first-child{ border-radius: 12px 0px 0px 0px; }
	tr.one > th:last-child{ border-radius: 0px 12px 0px 0px; }
	tr.two  { background-color: #c0d6f0;   }

    div.session {  background-color: #E2E2E2; padding: 0px; }
    div.session>p { position: relative; top: 10px; z-index: -100;}
	div.session>table   { margin-top: -10px;      box-shadow: inherit; background-color: transparent;  }
	div.session>table>tr {  background-color: #E2E2E2; padding: 0px; }
	div.session>table>tr>th {   padding: 0px; margin: 0px;}
	div.session>table>tr>th>select  { padding: 0px; margin: 3px;  }

	tr.three>th  { background-color: #dde9f7;   }


    .lupa { background-image: url("/img/lupa.png"); background-position:  50% 50% ; background-repeat: no-repeat; }
    .lupa > span { display: block; padding: 10px 2px;}

	td { border-left: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; text-align: center;}
	tr:nth-child(even) > td {background-color: #f2f2f2;}
	tr:nth-child(odd) > td {background-color: #fefefe;}
	.td1 {  }
	.td2 {  }
	.td3 {  }
	.td4 { }
	.td5{  }
	.td6 {  }
	.td7 {  }
	.td8{  }
	.td9 {  }
	.td10 {  }
	

	
	
	
	

		div#error, div#success	{ display: inline; margin: 0px; padding: 0px; }
    	div#error p , div#success p {   line-heigh: 20px;  display: block; text-align: center;  	}
        div#error { color: red; } div#success { color: green; }

	    div#session { display: none; }
	    div#session 	{  background-color: #e8e8e8;  padding: 12px 0px 15px 30px; margin: 0px; }
	    div#session div { display: table-cell; padding-right: 12px; position: relative; right: 0px;  }

        div#menu_top { display: flex; flex-direction: row; justify-content:space-between;  height: 32px; position: relative; font-size: 86%;
        		background-color: transparent; border-bottom: 1px solid #c6c6c6; background-image: url("/img/dedra.png"); background-position:  1% 45% ; background-repeat: no-repeat;
        		margin-top: 22px;
        		margin-bottom: 2px;
                padding-bottom: 2px;
        }

        div#menu_top p {
        		display: inline-block; color: gray; font-size: 11px; line-height: 12px;
        }

        div#menu_top a {
        		text-shadow: 1px 1px 2px rgba(55,25,25,0.5);   background-color: #c6c6c6;
        		font-size: 12px; font-weight: bold; color: white;
        		padding: 8px  12px;
        		margin-left: 2px;
        }


		div.edit_lang { display: flex; flex-direction: row; justify-content: flex-start; margin-left: 15px; margin-bottom: -21px; margin-top: -15px; }
		div.edit_lang>span { display: block;}
        div.edit_lang>span>a{ display: block; background-color:transparent; padding: 1px 12px 2px; margin: 1px; text-weight: bold; color: white; }
		div.edit_lang>span>a:hover { color: gray; }


         table.prices { box-shadow: none;}
         table.prices th {margin: 0px; padding: 0px; }
		 table.prices input{ padding: 3px; margin: 3px; min-width: 20px; width: 100%; text-align: center; 	}
         table.prices tr.input, table.prices tr.input td { padding: 0px; margin: 0px; }
         table.prices a { display: block; width: 100%; padding:  5px 17px 10px; margin: 5px 0px 0px 0px; text-decoration: none; color: #c6c6c6; }
         table.prices a:hover { background-color: #c6c6c6; color: black; }







	     form.dict {display: flex; flex-direction: column;  }
		 form.dict > div{display: flex; flex-direction: row; padding: 8px; }
		 form.dict > div > label{width: 100px;text-align: right; margin-right: 10px;   }
		 form.dict > div > button{ margin-left: 110px; margin-top: 10px;   }



		 .code { font-size: 115%; font-weight: bold; }