<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}  )}">


<body>
<div>


    <th:block th:if="${code!=null}" >
        <div class="product_image">
            <img src="" th:src="@{'/media/png/170/'+${code}}" alt=" &nbsp; &nbsp; "/>
        </div>
    </th:block>


<th:block th:include="~{edit/fragments_exact :: table_header_exact()}" />

<tr>
<td colspan="2"  th:text="${codeId}"></td>
<td colspan="4"><th:block th:include="~{edit/fragments :: code_click_to_edit( code, codeId , '1' )}" /></td>
<td colspan="3" th:include="~{edit/fragments :: as_text(  'Code', 'EAN' , codeEAN , 'ean:'  )}" />
<td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'searchCode' , search_code , 'search_code:'  )}" />
<td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'statisticalNumber' , statistical_number , 'numer statystyczny:'  )}" />

</tr>

<tr>
<td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'statisticalUnits' , statistical_units , 'statistical_units:'  )}" />
<td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'pkwiu' , pkwiu , 'pkwiu:'  )}" />
<td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'country' , country , 'country:'  )}" />
<td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'userField_07' , user_field_07 , 'kod poszukiwania:'  )}" />
<td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'csPickITScanCode' , cs_pick_it_scancode , 'scanKod magazynowy:'  )}" />
</tr>

<tr>
<td colspan="5" th:include="~{edit/fragments :: edit_text_input(  'ExactNames', 'name_simple' , name_simple , 'name_simple:'  )}" />
<td colspan="5" th:include="~{edit/fragments :: edit_text_input(  'ExactNames', 'name_marketing' , name_marketing , 'name_marketing:'  )}" />
<td colspan="5" th:include="~{edit/fragments :: edit_text_input(  'ExactNames', 'name_long' , name_long , 'name_long:'  )}" />
</tr>

<tr>
<td colspan="5" th:include="~{edit/fragments :: edit_text_area(  'ExactNames', 'description_simple' , description_simple , 'description_simple:'  )}" />
<td colspan="5" th:include="~{edit/fragments :: edit_text_area(  'ExactNames', 'description_marketing' , description_marketing , 'description_marketing:'  )}" />
<td colspan="5" th:include="~{edit/fragments :: edit_text_area(  'ExactNames', 'description_long' , description_long , 'description_long:'  )}" />
</tr>

<tr>
<td colspan="5" th:include="~{edit/fragments :: edit_text_input(  'ExactNames', 'notes_one' , notes_one , 'notes_one:'  )}" />
<td colspan="5" th:include="~{edit/fragments :: edit_text_input(  'ExactNames', 'notes_two' , notes_two , 'notes_two:'  )}" />
<td colspan="5" th:include="~{edit/fragments :: as_text(  'InddNames', 'inddName' , indd_name , 'inddName:'  )}" />
</tr>

<tr>
<td colspan="5" th:include="~{edit/fragments :: as_text(  'InddNames', 'inddDescription' , indd_description , 'inddDescription:'  )}" />
<td colspan="4" th:include="~{edit/fragments :: as_text(  'InddNames', 'inddInlineDescription' , indd_inline_description , 'inddInlineDescription:'  )}" />
<td colspan="3" th:include="~{edit/fragments :: as_text(  'InddNames', 'nameInTable' , name_in_table , 'nameInTable:'  )}" />
<td colspan="3" th:include="~{edit/fragments :: as_text(  'InddNames', 'tableHeader' , table_header , 'tableHeader:'  )}" />
</tr>

<tr>
    <td colspan="5" th:include="~{ edit/fragments :: edit_text_as_combo (  'ExactData', 'etype' , etype_description , etype_id, 'etype:'  ) }" />
    <td colspan="5" th:include="~{ edit/fragments :: edit_text_as_combo (  'ExactData', 'category' , category_description , category_id, 'category:'  ) }" />
    <td colspan="5" th:include="~{ edit/fragments :: edit_text_as_combo (  'ExactData', 'sub_category' , subcategory_description , subcategory_id, 'sub_category:'  ) }" />
</tr>

<tr>
    <td colspan="5" th:include="~{ edit/fragments :: edit_text_as_combo (  'ExactData', 'ec03' , ec03_description , ec03_id, 'ec03:'  ) }" />
    <td colspan="5" th:include="~{ edit/fragments :: edit_text_as_combo (  'ExactData', 'ec04' , ec04_description , ec04_id, 'ec04:'  ) }" />
    <td colspan="5" th:include="~{ edit/fragments :: edit_text_as_combo (  'ExactData', 'ec05' , ec05_description , ec05_id, 'ec05:'  ) }" />
</tr>

<tr>
    <td colspan="5" th:include="~{ edit/fragments :: edit_text_as_combo (  'ExactData', 'ec06' , ec06_description , ec06_id, 'ec06:'  ) }" />
    <td colspan="5" th:include="~{ edit/fragments :: edit_text_as_combo (  'ExactData', 'ec07' , ec07_description , ec07_id, 'ec07:'  ) }" />
    <td colspan="5" th:include="~{ edit/fragments :: edit_text_as_combo (  'ExactData', 'ec08' , ec08_description , ec08_id, 'ec08:'  ) }" />
</tr>
<tr>
    <td colspan="5" th:include="~{ edit/fragments :: edit_text_as_combo (  'ExactData', 'ec09' , ec09_description , ec09_id, 'ec09:'  ) }" />
    <td colspan="5" th:include="~{ edit/fragments :: edit_text_as_combo (  'ExactData', 'ec10' , ec10_description , ec10_id, 'ec10:'  ) }" />
    <td colspan="5" th:include="~{ edit/fragments :: edit_text_as_combo (  'ExactData', 'e_condition' , econ_description , econ_id, 'e_condition:'  ) }" />

</tr>
<tr>
    <td colspan="3" th:include="~{edit/fragments :: edit_combo_yes_no(  'ExactData', 'userYesNo_01' , user_yes_no_01 , 'user_yes_no_01:'  )}" />
    <td colspan="3" th:include="~{edit/fragments :: edit_combo_yes_no(  'ExactData', 'userYesNo_02' , user_yes_no_02 , 'user_yes_no_02:'  )}" />
    <td colspan="3" th:include="~{edit/fragments :: edit_combo_yes_no(  'ExactData', 'userYesNo_03' , user_yes_no_03 , 'user_yes_no_03:'  )}" />
    <td colspan="3" th:include="~{edit/fragments :: edit_combo_yes_no(  'ExactData', 'userYesNo_04' , user_yes_no_04 , 'user_yes_no_04:'  )}" />
    <td colspan="3" th:include="~{edit/fragments :: edit_combo_yes_no(  'ExactData', 'userYesNo_05' , user_yes_no_05 , 'user_yes_no_05:'  )}" />
</tr>

<tr>
    <td colspan="4" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'salesVatCode' , sales_vat_code , 'sales_vat_code:(VAT)'  )}" />
    <td colspan="4" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'packageDescription' , package_description , 'package_description: (jednostka)'  )}" />
    <td colspan="4" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'serialBatchItem' , serial_batch_item , 'serial_batch_item:'  )}" />
    <td colspan="4" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'lev_crdnr' , lev_crdnr , 'lev_crdnr: (Nr. dostawcy)'  )}" />
</tr>
        <!--####-->
<tr>
    <td colspan="3"  th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'ExactId' , exact_id , 'exact_id:'  )}" />
    <td colspan="3"  th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'sysguid' , sysguid , 'sysguid:'  )}" />
    <td colspan="3"  th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'barcode' , barcode , 'barcode:'  )}" />
    <td colspan="3"  th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'barcodetype' , barcodetype , 'barcodetype:'  )}" />
    <td colspan="3"  th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'date' , date , 'date:'  )}" />
</tr>

<tr>
    <td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'wareHouse' , ware_house , 'ware_house:'  )}" />
    <td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'userField_05' , user_field_05 , 'user_field_05:'  )}" />
    <td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'userField_06' , user_field_06 , 'user_field_06:'  )}" />
    <td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'netWeight' , net_weight , 'net_weight:'  )}" />
    <td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'grossWeight' , gross_weight , 'gross_weight:'  )}" />
</tr>

<tr>
    <td colspan="5" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'userField_08' , user_field_08 , 'user_field_08:'  )}" />
    <td colspan="5" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'userField_09' , user_field_09 , 'user_field_09:'  )}" />
    <td colspan="5" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'userField_10' , user_field_10 , 'user_field_10:'  )}" />
</tr>

<tr>
    <td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'userDate_01' , user_date_01 , 'user_date_01:'  )}" />
    <td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'userDate_02' , user_date_02 , 'user_date_02:'  )}" />
    <td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'userDate_03' , user_date_03 , 'user_date_03:'  )}" />
    <td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'userDate_04' , user_date_04 , 'user_date_04:'  )}" />
    <td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'userDate_05' , user_date_05 , 'user_date_05:'  )}" />
</tr>


<tr>
    <td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'userNumber_01' , user_number_01 , 'user_number_01: (Odpady1)'  )}" />
    <td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'userNumber_02' , user_number_02 , 'user_number_02:'  )}" />
    <td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'userNumber_03' , user_number_03 , 'user_number_03:'  )}" />
    <td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'userNumber_04' , user_number_04 , 'user_number_04:'  )}" />
    <td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'userNumber_05' , user_number_05 , 'user_number_05: (Odpady 5)'  )}" />
</tr>

<tr>
    <td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'userNumber_06' , user_number_06 , 'user_number_06:'  )}" />
    <td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'userNumber_07' , user_number_07 , 'user_number_07:'  )}" />
    <td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'userNumber_08' , user_number_08 , 'user_number_08:'  )}" />
    <td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'isBatchItem' , is_batch_item , 'is_batch_item:'  )}" />
    <td colspan="3" th:include="~{edit/fragments :: edit_text_input_(  'ExactData', 'isBackToBackOrder' , is_back_to_back_order , 'is_back_to_back_order:'  )}" />
</tr>


<!--//

    icons: <th:block th:include="~{edit/fragments :: as_text(  'InddData', 'icons' , icons , 'ikony:'  )}" />
    params: <th:block th:include="~{edit/fragments :: as_text(  'InddData', 'params' , params , 'parametry:'  )}" />
 !!!!-->













            </tbody>
        </tbody>
        </table>
    </div>







    </div>
</form>

</div>
</body>


















<th:block th:include="~{edit/names  :: names1()}"  />


<tr>
    <th:block th_if="${langId!=1}"><th:block th_include="~{edit/names  :: names(  'namesPL' )}" /></th:block>
    <th:block th:if="${prices!=null}"  th:include="~{edit/prices :: prices() }" />
    <th:block th:if="${table_family!=null}" th:include="~{edit/table_child  :: table_child() }" />
</tr>






<th:block th:include="~{fragments/editor :: edit_text_input ( 'names', 'nameInTable' ,  'names.getNameInTable()' ,  'nameInTable'  )}" />
<th:block th:include="~{fragments/editor :: edit_text_input ( 'names', 'tableHeader' ,  'names.getTableHeader()' ,  'tableHeader'  )}" />
<th:block th_include="~{fragments/editor :: edit_text_input ( 'names', 'name2' ,  'names.getName2()' ,  'name 2'  )}" />

<th:block th:include="~{fragments/editor :: as_text ( 'names', 'description' ,  'names.getDescription()' ,  'description'  )}" />
<th:block th:include="~{fragments/editor :: edit_text_input ( 'names', 'descriptionInline' ,  'names.getDescriptionInline()' ,  'descriptionInline'  )}" />
<th:block th_include="~{fragments/editor :: edit_text_input ( 'names', 'descriptonExtra' ,  'names.getDescriptonExtra()' ,  'descriptonExtra'  )}" />
<th:block th_include="~{fragments/editor :: edit_text_input ( 'names', 'description2' ,  'names.getDescription2()' ,  'description2 '  )}" />






</html>
