<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">




<th:block th:fragment="table_header_exact()">

    <th:block th:if="${codeId==null}" >
        <table class="edit">
            <tbody>
            <form  action="@{'/edit'}" th:action="@{'/edit'}" th:object="${issueAddForm}" method="post"  enctype="multipart/form-data">

                <tr class="two">
                    <th colspan="9"></th>
                    <th colspan="3">
                        <input type="text"  name="codeString" id="codeString" placeholder="kod produktu" style="width: 100%;"  />
                    </th>
                    <th colspan="3">
                        <input    type="submit" value="szukaj" style="width: 60px;" />
                    </th>
                </tr>
            </form>
            </tbody>
        </table>
    </th:block>



    <th:block th:if="${codeId!=null}" >

        <div class="langrow">
            <p  th:if="${langId!=null}" class="lang">
                <a th:href="@{'/edit/exact_item/'+${codeId}+'/1'}" th:classappend="${langId==1} ? selected_lang">PL</a>
                <a th:href="@{'/edit/exact_item/'+${codeId}+'/2'}" th:classappend="${langId==2} ? selected_lang">CZ</a>
                <a th:href="@{'/edit/exact_item/'+${codeId}+'/3'}" th:classappend="${langId==3} ? selected_lang">EN</a>
                <a th:href="@{'/edit/exact_item/'+${codeId}+'/4'}" th:classappend="${langId==4} ? selected_lang">HU</a>
                 <a th:href="@{'/edit/exact_item/'+${codeId}+'/5'}" th:classappend="${langId==5} ? selected_lang">LT</a>
                  <a th:href="@{'/edit/exact_item/'+${codeId}+'/6'}" th:classappend="${langId==6} ? selected_lang">RO</a>
                  <a th:href="@{'/edit/exact_item/'+${codeId}+'/7'}" th:classappend="${langId==7} ? selected_lang">LV</a>
                  <a th:href="@{'/edit/exact_item/'+${codeId}+'/8'}" th:classappend="${langId==8} ? selected_lang">SK</a>
                  <a th:href="@{'/edit/exact_item/'+${codeId}+'/17'}" th:classappend="${langId==17} ? selected_lang">SI</a>
                  <a th:href="@{'/edit/exact_item/'+${codeId}+'/9'}" th:classappend="${langId==9} ? selected_lang">DE</a>
                  <a th:href="@{'/edit/exact_item/'+${codeId}+'/10'}" th:classappend="${langId==10} ? selected_lang">EE</a>
                  <a th:href="@{'/edit/exact_item/'+${codeId}+'/11'}" th:classappend="${langId==11} ? selected_lang">ES</a>
                  <a th:href="@{'/edit/exact_item/'+${codeId}+'/12'}" th:classappend="${langId==12} ? selected_lang">FR</a>
                  <a th:href="@{'/edit/exact_item/'+${codeId}+'/13'}" th:classappend="${langId==13} ? selected_lang">RU</a>
                  <a th:href="@{'/edit/exact_item/'+${codeId}+'/14'}" th:classappend="${langId==14} ? selected_lang">NL</a>
                  <a th:href="@{'/edit/exact_item/'+${codeId}+'/15'}" th:classappend="${langId==15} ? selected_lang">UA</a>
                  <a th:href="@{'/edit/exact_item/'+${codeId}+'/16'}" th:classappend="${langId==16} ? selected_lang">HR</a>

                </p>
        </div>










            <form  action="@{'/edit/exact_item'}" th:action="@{'/edit/exact_item'}" th:object="${issueAddForm}" method="post"  enctype="multipart/form-data">

            <table class="edit_form_exact">
                <tbody>

                <tr class="two">
                    <th colspan="2" th:text="${codeId}" style="weight: normal; font-size: 90%"></th>
                    <th></th>
                    <th colspan="8" th:text="${codecode}" style="color: black; font-size: 120%"></th>
                    <th></th>
                    <th colspan="3">
                        <input  type="hidden" id="codeId" name="codeId" th:value="${codeId}">
                        <input  type="hidden" id="langId" name="langId" th:value="${langId}">

                        <input type="hidden" value="zapisz" style="margin: 0px; ">
                        <input class="submit" type="submit" value="zapisz" style="margin: 0px; ">
                    </th>

                </tr>


    </th:block>






</th:block>



</html>
