<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}  )}">


<body>
<div>




   <th:block th:replace="~{edit/fragments :: table_header()}" />




    <table th:if="${codes!=null and !codes.isEmpty() and codes!=''}">

        <tr class="two">
            <th></th>
            <th> id&nbsp;</th>
            <th> kod produktu </th>
            <th> ean </th>
            <th>   </th>
            <th>   </th>
            <th></th>
        </tr>

        <tr th:each="code : ${codes}"> <!--th:onclick="'editProduct('+${code.getCodeId()}+');'" -->
            <td style="width: 50%"></td>
            <td th:text="${code.getCodeId()}"></td>
            <td th:text="${code.getCodeString()}"></td>
            <td th:text="${code.getEAN()}"></td>
            <td><a th:href="@{'/edit/item/' + ${code.getCodeId()} + '/1' }"><img src="/img/icons8-edit-24.png"></a></td><td><a th:href="@{'/edit/exact_item/' + ${code.getCodeId()} + '/1' }"><img src="/img/full_edit.png"></a></td>
            <td style="width: 50%"></td>
        </tr>

    </table>












</div>
</body>
<nobody>

    <form action="@{'/edit'}" th:action="@{'/edit'}"  method="POST" enctype="multipart/form-data">


    <th_block th_include="~{fragments/session :: lang}" />

    <table  style="margin-top: 0px; "><tbody><tr class="two"><th>
    <input class="submit" type="submit" value="zapisz ustawienie języka i wydanie" style="margin: auto; display: block; margin-top: 15px;">
    </th></tr></tbody></table>




</form>


</div>
</nobody>
</html>
