<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}  )}">


<body>
<div>

<th:block th:include="~{edit/fragments :: table_header()}" />


<tr>
    <!--
    //      ExactData
    // - ean

    //      InddData
    // - extra_images
    // - comment
    -->
    <td colspan="2"><th:block th:include="~{edit/fragments :: as_text(  '', '' , codeId , ''  )}" /></td>
    <td colspan="3"><th:block th:include="~{edit/fragments :: as_text(  '', '' , code , ''  )}" /></td>
    <td colspan="5"><th:block th:include="~{edit/fragments :: edit_text_input(  'ExactData', 'ean' , ean , 'EAN:'  )}" /></td>
    <!--
    <td colspan="4"><th:block th:include="~{edit/fragments :: edit_text_input(  'InddData', 'extraImages' , extra_images , '+ zdj:'  )}" /></td>
    <td colspan="4"><th:block th:include="~{edit/fragments :: edit_text_input(  'InddData', 'comment' , comment , 'comment:'  )}" /></td>
    -->
    <td colspan="5"><th:block th:include="~{edit/fragments :: edit_text_input(  'InddNames', 'tableHeader' , table_header , 'tableHeader:'  )}" /></td>

</tr>



<tr>
    <td colspan="5"><th:block th:include="~{edit/fragments :: edit_text_input(  'InddNames', 'inddName' , indd_name , 'inddName:'  )}" /></td>
    <td colspan="5"><th:block th:include="~{edit/fragments :: edit_text_input(  'ExactNames', 'name_sipmle' , name_sipmle  , 'name_sipmle:'  )}" /></td>
    <td colspan="5"><th:block th:include="~{edit/fragments :: edit_text_input(  'InddNames', 'nameInTable' , name_in_table , 'nameInTable:'  )}" /></td>
</tr>
<tr>
        <td colspan="5"><th:block th:include="~{edit/fragments :: edit_text_input(  'InddNames', 'inddDescription' , indd_description , 'inddDescription:'  )}" /></td>
        <td colspan="5"><th:block th:include="~{edit/fragments :: edit_text_input(  'InddNames', 'inddInlineDescription' , indd_inline_description , 'inddInlineDescription:??'  )}" /></td>
        <td colspan="5"><th:block th:include="~{edit/fragments :: edit_text_input(  'ExactNames', 'description_long' , description_long , 'description_long:'  )}" /></td>
</tr>
<tr>
    <td colspan="5"><th:block th:include="~{edit/fragments :: edit_text_input(  'ExactNames', 'name' , name , 'name:'  )}" /></td>
    <td colspan="5"><th:block th:include="~{edit/fragments :: edit_text_input(  'ExactNames', 'name_long' , name_long , 'name_long:'  )}" /></td>
    <td colspan="5"><th:block th:include="~{edit/fragments :: edit_text_input(  'ExactNames', 'name_marketing' , name_marketing , 'name_marketing:'  )}" /></td>
</tr>
<tr>
    <td colspan="4"><th:block th:include="~{edit/fragments :: edit_text_input(  'ExactNames', 'description_simple' , description_simple , 'description_simple:'  )}" /></td>
    <td colspan="4"><th:block th:include="~{edit/fragments :: edit_text_input(  'ExactNames', 'description_marketing' , description_marketing , 'description_marketing:'  )}" /></td>
    <td colspan="5"><th:block th:include="~{edit/fragments :: edit_text_input(  'ExactNames', 'notes_two' , notes_two , 'notes_two:'  )}" /></td>
    <td colspan="2"><th:block th:include="~{edit/fragments :: edit_text_input(  'ExactNames', 'notes_one' , notes_one , 'notes_one:'  )}" /></td>
</tr>


    <!--
    //  1) dataObject.indd_name , dataObject.name

    // 2) dataObject.indd_description , dataObject.description
    //
    // dataObject.code
    // dataObject.ean +
    // dataObject.indd_description, dataObject.description
    // 2a) +
    //      palette.getComplementarySentence()
    //      dataObject.CDI[i].code
    //      dataObject.CDI[i].indd_name , dataObject.CDI[i].name
    //      dataObject.CDI[i].hurt dataObject.CDI[i].promo dataObject.CDI[i].ean

    // 3) dataObject.hurt , dataObject.promo  + palette.getLangCurrency()

    // 7) table_header
    //     dataObject.CTI[ i ].name_in_table  , dataObject.CTI[i].description , dataObject.CTI[i].description2

    -->
</tr>





<td>EXACT</td>


 <th:block th:include="~{ edit/fragments :: edit_text_as_combo (  'ExactData', 'sub_category' , subcategory_description , subcategory_id, 'podkategoria:'  ) }" />
 <!--                                //  className(), fieldName , valueText , valueId, label  )                     -->


 <tr>

     <!--<td colspan="2">kategoria:</td>-->
     <td colspan="5">
         kat.: <th:block th:include="~{edit/fragments :: as_text(  'InddData', 'category_description' , category_description , 'kategoria:'  )}" />
     </td>

     <!--<td colspan="2">icons:</td>-->
     <td colspan="5">
         icons: <th:block th:include="~{edit/fragments :: as_text(  'InddData', 'icons' , icons , 'ikony:'  )}" />
     </td>

     <!--<td colspan="2">params:</td>-->
     <td colspan="5">
         params: <th:block th:include="~{edit/fragments :: as_text(  'InddData', 'params' , params , 'parametry:'  )}" />
     </td>


    </tr><tr>

     <!--<td colspan="2">podkat:</td>-->
     <td colspan="5">
        podkat.:  <th:block th:include="~{edit/fragments :: as_text(  'InddData', 'subcategory_description' , subcategory_description , 'podkategoria:'  )}" />
     </td>

     <td colspan="2">comment:</td>
     <td colspan="3">
         <th:block th:include="~{edit/fragments :: edit_text_input(  'InddData', 'comment' , comment , 'comment:'  )}" />
     </td>

  <td colspan="2">dodatkowe zdjęcia:</td>
  <td colspan="3">
      <th:block th:include="~{edit/fragments :: edit_text_input(  'InddData', 'extraImages' , extra_images , 'zdjęcia dodatkowe:'  )}" />
  </td>
 </tr>





    <tr>

        <td colspan="2">indd_name:</td>
        <td colspan="3">
            <th:block th:include="~{edit/fragments :: edit_text_input(  'InddNames', 'indd_name' , indd_name , 'indd_name:'  )}" />
        </td>

        <td colspan="2">name_in_table:</td>
        <td colspan="3">
            <th:block th:include="~{edit/fragments :: edit_text_input(  'InddNames', 'name_in_table' , name_in_table , 'name_in_table:'  )}" />
        </td>

        <td colspan="2">table_header:</td>
        <td colspan="3">
            <th:block th:include="~{edit/fragments :: edit_text_input(  'InddNames', 'table_header' , table_header , 'table_header:'  )}" />
        </td>

    </tr><tr>

    <td colspan="7">indd_inline_description: <br/>
        <th:block th:include="~{edit/fragments :: edit_text_area(  'InddNames', 'indd_inline_description' , indd_inline_description , 'indd_inline_description:'  )}" />
    </td>

    <td colspan="8">indd_description: <br/>
        <th:block th:include="~{edit/fragments :: edit_text_area(  'InddNames', 'indd_description' , indd_description , 'indd_description:'  )}" />
    </td>


</tr>
    <tr>


    <td colspan="2">EName:</td>
    <td colspan="3">
        <th:block th:include="~{edit/fragments :: edit_text_input(  'ExactName', 'EName' , EName , 'EName:'  )}" />
    </td>

        <td colspan="2">name_simple:</td>
        <td colspan="3">
            <th:block th:include="~{edit/fragments :: edit_text_input(  'ExactName', 'name_simple' , name_simple , 'name_simple:'  )}" />
        </td>

        <td colspan="2">name_marketing:</td>
        <td colspan="5">
            <th:block th:include="~{edit/fragments :: edit_text_input(  'InddData', 'name_marketing' , name_marketing , 'name_marketing:'  )}" />
        </td>


        </tr><tr>





        <td colspan="2">name_long:</td>
        <td colspan="5">
            <th:block th:include="~{edit/fragments :: edit_text_input(  'InddData', 'name_long' , name_long , 'name_long:'  )}" />
        </td>


    <td colspan="2">description_simple:</td>
    <td colspan="6">
        <th:block th:include="~{edit/fragments :: edit_text_area(  'ExactNames', 'description_simple' , description_simple , 'description_simple:'  )}" />
    </td>


    </tr><tr>

    <td colspan="2">description_marketing:</td>
    <td colspan="5">
        <th:block th:include="~{edit/fragments :: edit_text_area(  'InddData', 'description_marketing' , description_marketing , 'description_marketing:'  )}" />
    </td>

    <td colspan="2">description_long:</td>
    <td colspan="6">
        <th:block th:include="~{edit/fragments :: edit_text_area(  'InddData', 'description_long' , description_long , 'description_long:'  )}" />
    </td>





    </tr>



        <!--

                    <tr class="two" >
                        <th><th:block th:include="~{fragments/editor :: as_text         ( 'names', 'name' ,  'codeString' ,  'kod'   )}" /></th>
                        <th th:attr="colspan=${namesPL==null}? '3':'1'" style="text-align: left;"><th:block th:include="~{fragments/editor :: as_text         ( 'names', 'description' ,  'names.getDescription()' ,  'opis'   )}" /></th>
                        <th th:if="${namesPL!=null}" colspan="2"><th:block  th:include="~{fragments/editor :: as_text ( 'namesPL', 'description' ,  'namesPL.getDescription()' ,  'inddDescription'  )}" /></th>
                    </tr>





                    <tr>
                        <td>nazwa:</td>
                        <td th:attr="colspan=${namesPL==null}? '3':'1'"><th:block th:include="~{fragments/editor :: edit_text_input ( 'names', 'inddName' ,  'names.getInddName()' ,  'inddName'  )}" /></td>
                        <td colspan="2"  th:if="${namesPL!=null}"><th:block th:include="~{fragments/editor :: as_text ( 'namesPL', 'inddName' ,  'namesPL.getInddName()' ,  'inddName'  )}" /></td>
                    </tr>


                    <tr>
                        <td>opis:</td>
                        <td  th:attr="colspan=${namesPL==null}? '3':'1'"><th:block th:include="~{fragments/editor :: edit_text_area ( 'names', 'inddDescription' ,  'names.getInddDescription()' ,  'inddDescription'  )}" /></td>
                        <td colspan="2" th:if="${namesPL!=null}"><th:block  th:include="~{fragments/editor :: as_text ( 'namesPL', 'inddDescription' ,  'names.getInddDescription()' ,  'inddDescription'  )}" /></td>
                    </tr>
                    </tbody>
                </table>



                <table th:if="${table_family!=null}" style="margin-top: -20px;"  >
                    <tbody>

                    <tr>
                        <td th:utext="${codeString}"></td>
                        <td><th:block th:include="~{fragments/editor :: edit_text_input ( 'names', 'nameInTable' ,  'names.getNameInTable()' ,  'nameInTable'  )}" /></td>
                        <td> <th:block th:include="~{fragments/editor :: edit_text_input ( 'names', 'tableHeader' ,  'names.getTableHeader()' ,  'tableHeader'  )}" /></td>
                        <td></td>
                    </tr>





                    <tr th:each="child: ${table_family}">
                            <td th:utext="${child.childrenCode}"></td>
                            <td><th:block  th:include="~{fragments/editor :: edit_text_input_otherCodeId ( 'names', 'indd_name' ,  'child.name_in_table' ,  'name_in_table' , ${child.children_id}  )}" /></td>
                            <td th:if="${langId!=1}"> <span th:utext="${child.name_in_tablePL}"></span> </td>
                            <td th:utext="${child.name}"></td>
                            <th:block th:if="${langId==1}">
                                <td th:utext="${child.description}"></td>
                            </th:block>
                    </tr>

                    <tr><td colspan="4"><a th:href="@{'/edit/table_child/'+${codeId}+'/1'}" style="float: right; dislay: block;">[ edit child ]</a></td></tr>
        -->


            </tbody>
        </tbody>
        </table>
    </div>





-->

    </div>
</form>

</div>
</body>


















<th:block th:include="~{edit/names  :: names1()}"  />


<tr>
    <th:block th_if="${langId!=1}"><th:block th_include="~{edit/names  :: names(  'namesPL' )}" /></th:block>
    <th:block th:if="${prices!=null}"  th:include="~{edit/prices :: prices() }" />
    <th:block th:if="${table_family!=null}" th:include="~{edit/table_child  :: table_child() }" />
</tr>






<th:block th:include="~{fragments/editor :: edit_text_input ( 'names', 'nameInTable' ,  'names.getNameInTable()' ,  'nameInTable'  )}" />
<th:block th:include="~{fragments/editor :: edit_text_input ( 'names', 'tableHeader' ,  'names.getTableHeader()' ,  'tableHeader'  )}" />
<th:block th_include="~{fragments/editor :: edit_text_input ( 'names', 'name2' ,  'names.getName2()' ,  'name 2'  )}" />

<th:block th:include="~{fragments/editor :: as_text ( 'names', 'description' ,  'names.getDescription()' ,  'description'  )}" />
<th:block th:include="~{fragments/editor :: edit_text_input ( 'names', 'descriptionInline' ,  'names.getDescriptionInline()' ,  'descriptionInline'  )}" />
<th:block th_include="~{fragments/editor :: edit_text_input ( 'names', 'descriptonExtra' ,  'names.getDescriptonExtra()' ,  'descriptonExtra'  )}" />
<th:block th_include="~{fragments/editor :: edit_text_input ( 'names', 'description2' ,  'names.getDescription2()' ,  'description2 '  )}" />






</html>
