<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}  )}">


<body>
<div>

<th:block th:if="${code!=null}" >
    <div class="product_image">
    <img src="" th:src="@{'/media/png/170/'+${code}}" alt=" &nbsp; &nbsp; "/>
    </div>
</th:block>

<th:block th:include="~{edit/fragments :: table_header()}" />


<tr>
    <!--
    //      ExactData
    // - ean

    //      InddData
    // - extra_images
    // - comment
    -->
    <td colspan="1"><th:block th:include="~{edit/fragments :: as_text(  '', '' , codeId , ''  )}"  class="code"/></td>
    <td colspan="2"><th:block th:include="~{edit/fragments :: code_click_to_edit( code, codeId , '1' )}" /></td>

    <td colspan="2"><th:block th:include="~{edit/fragments  :: as_text(  'Code', 'EAN' , codeEAN , 'EAN:'  )}" /></td>
    <td colspan="5">
        <th:block th:include="~{ edit/fragments :: edit_text_as_combo (  'ExactData', 'category' , category_description , category_id, 'kat.:'  ) }" />
    </td>
    <td colspan="5">
    <th:block th:include="~{ edit/fragments :: edit_text_as_combo (  'ExactData', 'sub_category' , subcategory_description , subcategory_id, 'sub.:'  ) }" />
    </td>

    <!--<td colspan="2">icons:</td>-->
    <!--
    <td colspan="2"><th:block th:include="~{edit/fragments :: as_text(  'InddData', 'icons' , icons , 'ikony:'  )}" /></td>

    <td colspan="2">params:</td>
    <td colspan="3"><th:block th:include="~{edit/fragments :: as_text(  'InddData', 'params' , params , 'parametry:'  )}" /></td>
    -->
</tr>



<tr th:if="${#strings.isEmpty(name_simple)}">
    <td colspan="5"><th:block th:include="~{edit/fragments :: edit_text_input(  'InddNames', 'inddName' , indd_name , 'inddName:'  )}" /></td>
    <td colspan="10"><th:block th:include="~{edit/fragments :: as_text(  'ExactNames', 'description_long' , description_long , 'description_long:'  )}" />
    <th:block th:if    ="${#strings.isEmpty(description_long)}"  th:include="~{edit/fragments :: as_text(  'ExactNames', 'name_marketing' , name_marketing , 'name_marketing:'  )}"       ></th:block>
    </td>
</tr>

<tr th:unless="${#strings.isEmpty(name_simple)}">
        <td colspan="5"><th:block th:include="~{edit/fragments :: edit_text_input(  'InddNames', 'inddName' , indd_name , 'inddName:'  )}" /></td>
        <td colspan="4"><th:block th:include="~{edit/fragments :: as_text(  'ExactNames', 'name_simple' , name_simple  , 'name_simple:'  )}" /></td>
        <td colspan="6">
            <th:block th:include="~{edit/fragments :: as_text(  'ExactNames', 'description_long' , description_long , 'description_long:'  )}" ></th:block>
            <th:block th:if    ="${#strings.isEmpty(description_long)}"  th:include="~{edit/fragments :: as_text(  'ExactNames', 'name_marketing' , name_marketing , 'name_marketing:'  )}"       ></th:block>
        </td>
</tr>



<tr>
    <td colspan="5"><th:block th:include="~{edit/fragments :: edit_text_area(  'InddNames', 'inddDescription' , indd_description , ''  )}" /></td>
    <td colspan="10">
           <th:block th:unless="${#strings.isEmpty(description_simple)}"
                     th:include="~{edit/fragments :: as_text(  'ExactNames', 'description_simple' , description_simple , 'description_simple:'  )}" />
           </th:block>
    </td>
</tr>






<!-- TABLE ITEMS // Header -->
<tr th:if="${not #lists.isEmpty( table_items )}"><td colspan="11"> w tabeli </td>
    <td colspan="4">
        <th:block th:if="${langId==1}"  th:include="~{edit/fragments :: edit_text_input(  'InddNames', 'tableHeader' , table_header , ''  )}" ></th:block>
        <th:block th:unless="${langId==1}"><span class="copy_pl_to_table_mass" onclick="copyPLToTableMass( this );"> &nbsp; wszystkie z PL</span></th:block>
    </td>
</tr>


<tr th:each="table_item : ${ table_items }">


    <td th:include="~{edit/fragments :: code_click_to_edit( table_item.childCode , table_item.childCodeId, table_item.rowLangId )}" /></td>


    <th:block th:if="${langId==1}"><td colspan="4"><th:block th:include="~{edit/fragments  :: edit_text_input_otherCodeId (  'InddNames', 'nameInTable' , table_item.name_in_table , '' , ${table_item.childCodeId} )} "></th:block></td></th:block>

    <th:block th:unless="${langId==1}">
    <td colspan="2"><th:block th:include="~{edit/fragments  :: edit_text_input_otherCodeId (  'InddNames', 'nameInTable' , table_item.name_in_table , '' , ${table_item.childCodeId} )} "></th:block></td>
    <td colspan="2"><span onclick="copyPLToTable( this );" class="copy_pl_to_table"  th:text="${table_item.name_in_tablePL}"></span></td>
    </th:block>



    <td colspan="3" th:unless="${#strings.isEmpty(table_item.indd_description)}" th:text="${table_item.indd_description}">
    <td colspan="3"     th:if="${#strings.isEmpty(table_item.indd_description)}" th:text="${table_item.description_simple}">

    <td colspan="3" th:unless="${#strings.isEmpty(table_item.indd_name)}" th:text="${table_item.indd_name}">
    <td colspan="3"     th:if="${#strings.isEmpty(table_item.indd_name)}" th:text="${table_item.name_simple}">

    <td colspan="3" th:text="${table_item.description_long}"></td>

    <td th:if="${codeId!=table_item.childCodeId}" th:include="~{edit/fragments  :: removeTChild (   codeId  ) }"></td>


</tr>








<!-- TABLE INLINE ITEMS // Header -->
    <tr th:if="${not #lists.isEmpty( inline_items )}"><td colspan="15"> powiązane </td></tr>
<tr th:each="inline_item : ${ inline_items }">
<td th:include="~{edit/fragments :: code_click_to_edit( inline_item.childCode , inline_item.childCodeId, inline_item.rowLangId )}" /></td>



<td colspan="5"><th:block th:include="~{edit/fragments  :: edit_text_input_otherCodeId (  'InddNames', 'inddDescription' , inline_item.indd_description , '' , ${inline_item.childCodeId} )} "></th:block></td>

    <td colspan="4"><span  onclick="copyPLToTable( this );" class="copy_pl_to_table"  th:text="${inline_item.indd_name}"></span></td>

<td colspan="4" th:unless="${#strings.isEmpty(inline_item.description_simple)}"><span  onclick="copyPLToTable( this );" class="copy_pl_to_table"  th:text="${inline_item.description_simple}"></span></td>
<td colspan="4" th:if="${#strings.isEmpty(inline_item.description_simple)}" ><span onclick="copyPLToTable( this );" class="copy_pl_to_table"  th:text="${inline_item.description_long}"></span></td>

<td  th:include="~{edit/fragments  :: removeIChild (   codeId  ) }"></td>

</tr>




    </tbody>
        </tbody>
        </table>
    </div>


    </div>
</form>

</div>
</body>

</html>
