<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="~{fragments/layout :: layout (~{::body} )}">
<body>

<div>

    <a th:href="@{/dict/LIST/EType}" >/dict/LIST/EType</a><br/><br/>
    <a th:href="@{/dict/LIST/ECondition}" >/dict/LIST/ECondition</a><br/><br/>
    <a th:href="@{/dict/LIST/Icon}" >/dict/LIST/Icon</a><br/><br/>
    <a th:href="@{/dict/LIST/IconGroup}" >/dict/LIST/IconGroup</a><br/><br/>
    <a th:href="@{/dict/LIST/Param}" >/dict/LIST/Param</a><br/><br/>
    <a th:href="@{/dict/LIST/ParamGroup}" >/dict/LIST/ParamGroup</a><br/><br/>
    <a th:href="@{/dict/LIST/Category}" >/dict/LIST/Category</a><br/><br/>
    <a th:href="@{/dict/LIST/SubCategory}" >/dict/LIST/SubCategory</a><br/><br/>

    <a th:href="@{/dict/LIST/EC03}" >/dict/LIST/EC03</a><br/><br/>
    <a th:href="@{/dict/LIST/EC04}" >/dict/LIST/EC04</a><br/><br/>
    <a th:href="@{/dict/LIST/EC05}" >/dict/LIST/EC05</a><br/><br/>
    <a th:href="@{/dict/LIST/EC06}" >/dict/LIST/EC06</a><br/><br/>
    <a th:href="@{/dict/LIST/EC07}" >/dict/LIST/EC07</a><br/><br/>
    <a th:href="@{/dict/LIST/EC08}" >/dict/LIST/EC08</a><br/><br/>
    <a th:href="@{/dict/LIST/EC09}" >/dict/LIST/EC09</a><br/><br/>
    <a th:href="@{/dict/LIST/EC10}" >/dict/LIST/EC10</a><br/><br/>

    <a th:href="@{/dict/LIST/Issue}" >/dict/LIST/Issue</a><br/><br/>

    <a th:href="@{/dict/LIST/lang}" >/dict/LIST/lang</a><br/><br/>


    <a th:href="@{/dict/LIST_CODE}" >/dict/LIST_CODE</a><br/><br/>

</div>

</body>
</html>
