<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}  )}">


<body>

        <table>
        <tbody>

        <tr th:include="~{dict/fragments :: header() }" class="two"/>

        <tr>
                <td >codeId</td>
                <td >codeString</td>
                <td >ExactId</td>
                <td >EAN</td>
        </tr>


        <th:block th:each="oneItem : ${ listOfItem }">
                <tr>
                <td th:text="${oneItem.codeId}"></td>
                <td th:text="${oneItem.codeString}"></td>
                <td th:text="${oneItem.ExactId}"></td>
                <td th:text="${oneItem.EAN}"></td>
                </tr>
        </th:block>



        </tbody>
        </table>



</body>
<nobody></nobody>
</html>
