<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}  )}">


<body>

        <table>
        <tbody>

        <tr th:include="~{dict/fragments :: header() }" class="two"/>

        <th:block th:include="~{dict/fragments :: allRow( ${listOfItem} ) }" />

        </tbody>
        </table>

        <!--
        <th:block th:include="~{/dict/fragments :: elementForm( ${item}, ${className}, ${getFields} ) }" />
        -->




</body>
<nobody></nobody>
</html>
