<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}  )}">


<body>

        <table>
        <tbody>

        <tr class="two">
                <th:block  th:each="key : ${keys}">
                <th th:text="${key}"></th>
                </th:block>

                <th:block th:if="${onClick0!=null}">        &nbsp; &nbsp;
                        <th><a th:href="@{''+${onClick0}}"><img src="/img/icons8-add-24.png"></a></th>
                </th:block>


        </tr>

        <tr  th:each="map : ${maps}">
                <th:block  th:each="key : ${keys}">
                        <td th:text="${map.get(key)}"></td>
                </th:block>

                <td>
                <th:block th:if="${onClick1!=null}">        &nbsp; &nbsp;
               <a th:href="@{''+${onClick1} + '/' + ${map.get('id')} }"><img src="/img/lupa18.png"></a>
               </th:block>

               <th:block th:if="${onClick2!=null}">        &nbsp; &nbsp;
               <a th:href="@{''+${onClick2} + '/' + ${map.get('id')} }"><img src="/img/icons8-edit-24.png"></a>
               </th:block>

                <th:block th:if="${onClick3!=null}">        &nbsp; &nbsp;
                <a th:href="@{''+${onClick3} + '/' + ${map.get('page')} +  '/' + ${map.get('id')} }"><img src="/img/icons8-delete-24.png"></a>
                </th:block>
                </td>

                <!--
                <td th:text="${oneItem.getName()}"></td>
                <td th:text="${oneItem.getDescription()}"></td>
                <td th:text="${oneItem.getCurrency()}"></td>
                <td th:text="${oneItem.getPrecision()}"></td>
                <td th:text="${oneItem.getTableHeader()}"></td>
                <td th:text="${oneItem.getComplementaryHeader()}"></td>-->
        </tr>
        <tr><td></td></tr>
        </tbody>
        </table>



</body>
<nobody></nobody>
</html>
