<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}  )}">


<body>

        <table>
        <tbody>

        <tr class="two">
                <th:block>
                <th> nazwa </th>
                <th> waluta </th>
                <th> ilość zer </th>
                <th> tabela </th>
                <th> komplementarne </th>
                </th:block>
        </tr>

                <!-- element row -->
        <tr  th:each="oneItem : ${listOfItem}">
                <td th:text="${oneItem.getName()}"></td>
                <td th:text="${oneItem.getDescription()}"></td>
                <td th:text="${oneItem.getCurrency()}"></td>
                <td th:text="${oneItem.getPrecision()}"></td>
                <td th:text="${oneItem.getTableHeader()}"></td>
                <td th:text="${oneItem.getComplementaryHeader()}"></td>
        </tr>
                <!-- element row -->

        </th:block>





        </tbody>
        </table>



</body>
<nobody></nobody>
</html>
