<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body} )}">


<body>
<div>


    <table>
        <tr class="one">
            <th style="width: 50%">  </th>
            <th colspan="4" th:text="${formHeader}">   </th>
            <th style="width: 50%"></th>
        </tr>





        <tr class="two">

                <form action="@{'/addXLS'}" th:action="@{'/addXLS'}"  method="POST" enctype="multipart/form-data"> <xx th:object="${fullItemSaveInDBForm}"></xx>
        <th>
            <input type="hidden" name="formType" id="formType" th:value="${formType}">
        </th>
        <th>
            <select id="langId" name="langId">
                <th:block th:each="la : ${langs}">
                    <option th:value="${la.getLangId()}" th:text="${la.getLangCode()}"></option>
                </th:block>
            </select>
        </th>

        <th>
           <select id="issueId" name="issueId">
                        <th:block th:each="issue : ${issues}">
                            <option th:value="${issue.getIssueId()}" th:text="${issue.getIssueName()}"></option>
                        </th:block>
                    </select>

        </th><th>

                    <input type="file"  name="uploadedFile" id="uploadedFile">

        </th><th>


        <input class="submit" type="submit" value="dodaj">

        </th><th></th>
       </form>

      </tr>
    </table>

</div>
</body>
</html>
