<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="~{fragments/layout :: layout (~{::body} )}">


<body>
<div>


    <table>
        <tr class="one">
            <th></th>
            <th colspan="4">W Y D A N I E</th>
            <th ></th>
        </tr>

        <tr class="two">
                <form action="@{'/issue/add'}" th:action="@{'/issue/add'}" th:object="${issueAddForm}" method="post" >

                    <th></th>
                    <th></th>
                    <th>
                        <input type="text"  name="issueName" id="issueName" placeholder="nazwa wydania" style="width: 100%;"/>
                    </th>

                    <th colspan="1">
                        <select type="text"  name="mutation" id="mutation" style="width: 100%;">
                            <option value="0">Normal (2 ceny)</option>
                            <option value="1">EAN (1 cena)</option>
                            <option value="2">Bez dzieci</option>
                        </select>
                    </th>
                    <th >
                        <input class="submit" type="submit" value="dodaj" style="width: 100%;"/>
                    </th>
                    <th></th>

                </form>
        </tr>

        <tr class="three">
            <th></th>
            <th>id</th>
            <th>nazwa</th>
            <th>mutacja</th>
            <th></th>
            <th></th>
        </tr>

        <tr th:each="iss : ${issues}">
            <td></td>
            <td th:text="${iss.issueId}"></td>
            <td th:issueId="${iss.issueId}"  th:text="${iss.issueName}"></td>
            <td th:text="${iss.getMutation}"></td>
            <td></td>
            <td></td>

        </tr>
    </table>

    <table th:if="${products!=null and !products.isEmpty()}">

        <tr class="two">
            <th></th>
            <th> id&nbsp;produktu </th>
            <th> kolejność&nbsp;na&nbsp;stronie </th>
            <th > strona </th>
            <th></th>
        </tr>

    <tr th:each="prod : ${products}">
        <td></td>
        <td th:text="${prod.getCodeId()}"></td>
        <td th:text="${prod.getMyOrder()}"></td>
        <td th:text="${prod.getPageNum()}"></td>
        <td></td>
    </tr>

    </table>



</body>
</html>
