<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}  )}">


<body>
<div>


    <table>
        <tr class="one">
            <th></th>
            <th colspan="4">E D Y C J A &nbsp; &nbsp; P R O D U K T Ó W</th>
            <th ></th>
        </tr>

        <tr class="two">
            <form action="@{'/edit'}" th:action="@{'/edit'}" th:object="${issueAddForm}" method="post"  enctype="multipart/form-data">


                <th></th>
                <th>
                    <input type="text"  name="codeString" id="codeString" placeholder="kod produktu" style="width: 100%;"/>
                </th>
                <th>
                    <select id="langId" name="langId" style="width: 100%;">
                        <th:block th:each="la : ${langs}">
                                <option th:value="${la.getLangId()}" th:text="${la.getLangCode()}"></option>
                            </th:block>
                        </select>
                </th>
                <th>
                        <select id="issueId" name="issueId" style="width: 100%;">
                            <th:block th:each="issue : ${issues}">
                                <option th:value="${issue.getIssueId()}" th:text="${issue.getIssueName()}"></option>
                            </th:block>
                        </select>

                </th>

                <th >
                    <input class="submit" type="submit" value="szukaj" style="width: 100%;"/>
                </th>
                <th></th>

            </form>
        </tr>

        <tr class="three">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </table>







    <table th:if="${codes!=null and !codes.isEmpty()}">

        <tr class="two">
            <th></th>
            <th> id&nbsp;</th>
            <th> kod produktu </th>
            <th> ean </th>
            <th></th>
        </tr>

        <tr th:each="code : ${codes}" th:onclick="'editProduct('+${code.getCodeId()}+','+${langId}+');'">
            <td></td>
            <td th:text="${code.getCodeId()}"></td>
            <td th:text="${code.getCodeString()}"></td>
            <td th:text="${code.getEAN()}"></td>
            <td></td>
        </tr>

    </table>












</div>
</body>
<nobody>

    <form action="@{'/edit'}" th:action="@{'/edit'}"  method="POST" enctype="multipart/form-data">


    <th_block th_include="~{fragments/session :: lang}" />

    <table  style="margin-top: 0px; "><tbody><tr class="two"><th>
    <input class="submit" type="submit" value="zapisz ustawienie języka i wydanie" style="margin: auto; display: block; margin-top: 15px;">
    </th></tr></tbody></table>

    <a th:href="@{/edit/imagesdata/1/1}">/edit/imagesdata/1/1</a><br/>
    <a th:href="@{/edit/prices/1/1}">/edit/prices/1/1</a><br/>
    <a th:href="@{/edit/names/1/1}">/edit/names/1/1</a><br/>
    <a th:href="@{/edit/item/1/1}">/edit/item/1/1</a>


</form>


</div>
</nobody>
</html>
