<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}  )}">


<body>
<div>

<form action="@{'/edit/names'}" th:action="@{'/edit/names'}"  method="POST" enctype="multipart/form-data">

     <div  th:fragment="names1()">

<th:block  th:if="${names!=null}"  xx="  ${''+NAMES+'.getName()'}  ">



        <th><th:block th:include="~{fragments/editor :: as_text         ( 'names', 'name' ,  'codeString' ,  'kod'   )}" /></th>
        <th><th:block th:include="~{fragments/editor :: as_text         ( 'names', 'name' ,  'names.getName()' ,  'nazwa'   )}" /></th>


</th:block>

     </div>
    <div  th:fragment="names2()">

<th:block  th:if="${names!=null}" >

    <th:block th:include="~{fragments/editor :: edit_text_input ( 'names', 'inddName' ,  'names.getInddName()' ,  'inddName'  )}" />
    <th:block th:include="~{fragments/editor :: edit_text_input ( 'names', 'nameInTable' ,  'names.getNameInTable()' ,  'nameInTable'  )}" />
    <th:block th:include="~{fragments/editor :: edit_text_input ( 'names', 'tableHeader' ,  'names.getTableHeader()' ,  'tableHeader'  )}" />
    <th:block th_include="~{fragments/editor :: edit_text_input ( 'names', 'name2' ,  'names.getName2()' ,  'name 2'  )}" />

    <th:block th:include="~{fragments/editor :: as_text ( 'names', 'description' ,  'names.getDescription()' ,  'description'  )}" />
    <th:block th:include="~{fragments/editor :: edit_text_area ( 'names', 'inddDescription' ,  'names.getInddDescription()' ,  'inddDescription'  )}" />
    <th:block th:include="~{fragments/editor :: edit_text_input ( 'names', 'descriptionInline' ,  'names.getDescriptionInline()' ,  'descriptionInline'  )}" />
    <th:block th_include="~{fragments/editor :: edit_text_input ( 'names', 'descriptonExtra' ,  'names.getDescriptonExtra()' ,  'descriptonExtra'  )}" />
    <th:block th_include="~{fragments/editor :: edit_text_input ( 'names', 'description2' ,  'names.getDescription2()' ,  'description2 '  )}" />


</th:block>


    </div>

    <input class="submit" type="submit" value="dodaj">

</form>

</div>
</body>













<nobody>
    <p>
        NOBODY NOBODY NOBODY NOBODY NOBODY NOBODY NOBODY NOBODY NOBODY NOBODY NOBODY NOBODY NOBODY NOBODY NOBODY
    </p>


    <input type="text" th:name="${'.imagesData.comment1.'+codeId+'.'+session.langId+'.'+session.issueId+'.'}"
           th:id ="${'.imagesData.comment1.'+codeId+'.'+session.langId+'.'+session.issueId+'.'}"
           th:value="${imagesData.getComment1()}">


    <p>




    <p th:text="${'session.langId: '+langId}"></p>
    <p th:text="${'session.issueId: '+issueId}"></p>



    /*

        th:field="*{__${myVar}__}"

        @Table(name = "ImagesData")

        @Column(name = "codeId")
        @Column(name = "comment1")
        @Column(name = "comment2")
        @Column(name = "extraImages")
        @Column(name = "icons")
        @Column(name = "isNew")

        */

    </p>



</nobody>


</html>
