<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body} )}">


<body>

<table><tbody><tr class="two"><th></th><th></th><th th:text="${formHeader}">  </th><th></th><th></th></tr></tbody></table>

<form class="dict Param" th:action="@{'/xls/SAVE/'}"  method="POST" enctype="multipart/form-data">


    <div>
        <input type="hidden" name="formType" id="formType" th:value="${formType}">
    </div>
    <!--<div>
        <th:block  th:replace="~{/dict/fragments :: comboLangId( ${langs} ) }" ></th:block>
        </div>-->
    <div>
    <th:block  th:replace="~{ form/fragments :: comboIssueId( ${issues} ) }" ></th:block>
    </div>
    <div>
    <th:block  th:replace="~{ form/fragments :: inputUploadFile() }" ></th:block>
    </div>
    <div>
    <label>force</label><input type="checkbox" name="force" id="force"/>
    </div>
    <div>
    <label>ignoreParent</label><input type="checkbox" name="ignoreParent" id="ignoreParent"/>
    </div>
    <div>
    <th:block  th:replace="~{ form/fragments :: inputSubmit() }" ></th:block>
    </div>

</form>





</body>
