<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}  )}">


<body>
<div>


    <table>
        <tbody>
        <tr><td>
            <a th:href="@{'/edit/item/'+${codeId}+'/1'}" class="langHref">PL</a>
            <a th:href="@{'/edit/item/'+${codeId}+'/2'}" class="langHref">CZ</a>
            <a th:href="@{'/edit/item/'+${codeId}+'/3'}" class="langHref">EN</a>
            <a th:href="@{'/edit/item/'+${codeId}+'/4'}" class="langHref">HU</a>
            <a th:href="@{'/edit/item/'+${codeId}+'/5'}" class="langHref">LT</a>
            <a th:href="@{'/edit/item/'+${codeId}+'/6'}" class="langHref">RO</a>
            <a th:href="@{'/edit/item/'+${codeId}+'/7'}" class="langHref">LV</a>
            <a th:href="@{'/edit/item/'+${codeId}+'/8'}" class="langHref">SK</a>
            <a th:href="@{'/edit/item/'+${codeId}+'/9'}" class="langHref">DE</a>
            <a th:href="@{'/edit/item/'+${codeId}+'/10'}" class="langHref">EE</a>
            <a th:href="@{'/edit/item/'+${codeId}+'/11'}" class="langHref">ES</a>
            <a th:href="@{'/edit/item/'+${codeId}+'/12'}" class="langHref">FR</a>
            <a th:href="@{'/edit/item/'+${codeId}+'/13'}" class="langHref">RU</a>
            <a th:href="@{'/edit/item/'+${codeId}+'/14'}" class="langHref">NL</a>
            <a th:href="@{'/edit/item/'+${codeId}+'/15'}" class="langref">UA</a>
        </td></tr>
        <tr class="two"><th style="font-weight: normal;" th:text="${'id: '+code_id}"></th><th th:text="${code}"></th><th></th></tr>
        </tbody>
    </table>


<form action="@{'/edit/indd'}" th:action="@{'/edit/indd'}"  method="POST" enctype="multipart/form-data">

    <div><label>&nbsp;</label>
        <span th:include="~{fragments/editor :: as_text         ( '', '' ,  'codeId' ,  ''   )}" />
        <span th:include="~{fragments/editor :: as_text         ( '', '' ,  'code' ,  ''   )}" />

    </div>

<!--
    <th:block th:include="~{fragments/editor :: edit_text_input (  tableName, fieldName , value , label  )   }" />


    <th:block th:include="~{fragments/editor :: as_text         ( 'names', 'name' ,  'codeString' ,  'kod'   )}" />
    <th:block th:include="~{fragments/editor :: as_text         ( 'names', 'name' ,  'names.getName()' ,  'nazwa'   )}" />
    <th:block th:include="~{fragments/editor :: edit_text_input (  tableName, fieldName , value , label  )   }" />




    <div  th:fragment="edit_text_input (  tableName, fieldName , value , label  ) ">
        <input type="text"
               th:name="${'.'+tableName+'.'+fieldName+'.'+codeId+'.'+langId+'.'+issueId+'.'}"
               th:id="${'.'+tableName+'.'+fieldName+'.'+codeId+'.'+langId+'.'+issueId+'.'}"
               th:value="${__${value}__}" >
    </div>





            <div>
                <th:block  th:replace="~{dict/fragments :: edit_text_input( 'name', ${item.getName()}, 'nazwa' , 'text' )}" ></th:block>
            </div>

            <div>
                <th:block  th:replace="~{dict/fragments :: edit_text_input( 'description', ${item.getDescription()}, 'opis' , 'text' )}" ></th:block>
            </div>

            <th:block  th:each="method : ${getFields}">
                <div>
                    <th:block  th:replace="~{dict/fragments :: edit_text_input( ${method.key}, ${method.value.invoke(item)}, ${method.key} , 'text' )}" ></th:block>
                </div>
            </th:block>

            <th:block  th:each="combo : ${combos}">
                <div>
                    <th:block  th:replace="~{dict/fragments :: select( ${combo.getName()},  ${combo.getSelectedValues()} , ${combo.getLabel()} , ${combo.getElements()} )}" ></th:block>
                </div>
            </th:block>
-->


            <div> <button type="submit"> Zapisz </button> </div>
        </form>





</div>
</body>


















<th:block th:include="~{edit/names  :: names1()}"  />


<tr>
    <th:block th_if="${langId!=1}"><th:block th_include="~{edit/names  :: names(  'namesPL' )}" /></th:block>
    <th:block th:if="${prices!=null}"  th:include="~{edit/prices :: prices() }" />
    <th:block th:if="${table_family!=null}" th:include="~{edit/table_child  :: table_child() }" />
</tr>






<th:block th:include="~{fragments/editor :: edit_text_input ( 'names', 'nameInTable' ,  'names.getNameInTable()' ,  'nameInTable'  )}" />
<th:block th:include="~{fragments/editor :: edit_text_input ( 'names', 'tableHeader' ,  'names.getTableHeader()' ,  'tableHeader'  )}" />
<th:block th_include="~{fragments/editor :: edit_text_input ( 'names', 'name2' ,  'names.getName2()' ,  'name 2'  )}" />

<th:block th:include="~{fragments/editor :: as_text ( 'names', 'description' ,  'names.getDescription()' ,  'description'  )}" />
<th:block th:include="~{fragments/editor :: edit_text_input ( 'names', 'descriptionInline' ,  'names.getDescriptionInline()' ,  'descriptionInline'  )}" />
<th:block th_include="~{fragments/editor :: edit_text_input ( 'names', 'descriptonExtra' ,  'names.getDescriptonExtra()' ,  'descriptonExtra'  )}" />
<th:block th_include="~{fragments/editor :: edit_text_input ( 'names', 'description2' ,  'names.getDescription2()' ,  'description2 '  )}" />






</html>
