<!DOCTYPE html>
<html th:fragment="layout ( template )" lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Dedra</title>

  <!-- CSS  -->
  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" />

  <!-- JS -->
  <script type="text/javascript" th:src="@{/js/global.js}"></script>

</head>

<body>

<div id="menu_top">

    <a href="/indd/bootStrap" style="display: none;">*  /indd/bootStrap  *</a>
    <a href="/lang/add">Język</a>
    <a href="/issue/add">Wydanie</a>

    <a href="/edit">Edytor</a>

    <a href="/addXLS/ean">#_EAN_#</a>
     <a href="/addXLS/name">#_Name_#</a>
    <a href="/addXLS/price">#_PRICE_#</a>


</div>


<div id="success"><p th:utext="${success}"></p></div>
<div id="error"><p th:utext="${errorMsg}"></p></div>



  <div class="container_div">
    <div class="container" >


        <th:block th:include="${template}" />

    </div>
  </div>

  <footer class="page-footer indigo darken-4">
   <br/><br/>
  </footer>

  </body>
</html>
